<div class="row-fluid">
  <div class="span12">
    <h4><%= link_to spot.name, spot_path(spot) %></h4>
    <blockquote>
      <p><%= spot.address %></p>
    </blockquote>
    <div class="page-header"></div>
  </div>
</div>
