<% provide :title, 'About'%>
<h1>About</h1>
<ul>
  <li><%= link_to "Twitter", "https://twitter.com/MuseumCreated", target: "_blank" %></li>
  <li><%= link_to "Facebook Page", "https://www.facebook.com/pages/Museumcreatedcom/207156882674562", target: "_blank" %></li>
</ul>
