<% provide :title, 'Policy'%>
<h1>個人情報保護への取組み</h1>
<p>
ミュージアムクリエイトドットコムが運営するウェブサイト SPOT スポット（以下、当サイト）のご利用者のプライバシーを尊重し、個人情報の保護に関する法令を遵守するとともにお客さまの個人情報の保護に努めております。
<dl>
  <dt>１.利用目的</dt>
  <dd>当サイト内でお客様からご提供いただく指定項目（氏名、メールアドレス等）の個人情報は 当サイトの提供するサービスの為に使用するものでそれ以外の目的での利用はありません。</dd>
  <dt>２. 個人情報の管理</dt>
  <dd>当サイトでは、お客様の個人情報を保護・管理するにあたり、外部からの不正なアクセス、個人情報の紛失・破壊・改ざん・漏えいなどを防ぐための適切な安全対策を行っております。</dd>
  <dt>３. 個人情報の変更・訂正・削除</dt>
  <dd>当サイトは、個人情報の開示および変更・訂正・削除などのご依頼があった場合、そのご依頼をされた方がお客様ご本人であることが確認できた場合のみ、適切な方法で対応いたします。</dd>
  <dt>４. 第三者への提供</dt>
  <dd>当サイトは下記の場合を除き、お客様の個人情報を第三者に開示いたしません。
  <ol>
    <li>法令等により司法および行政機関より要請を受けた場合。</li>
    <li>お客様から事前に同意・承諾を得た場合。</li>
  </ol>
  </dd>
  <dt>５. 個人情報保護の取組み</dt>
  <dd>当サイトでは、法令等の改正や社会情勢の変化に応じ適宜見直しを行い、改善を図ってまいります。</dd>
  <dt>６.問い合わせ</dt>
  <dd>当サイトの個人情報の取扱に関するお問い合わせは下記までご連絡下さい。</dd>
</dl>
ミュージアムクリエイトドットコム
info@mu-cre.com
</p>
