<div class="well">
  <h4><i class="icon-sort"></i> 表示順を変える</h4>
  <div class="btn-group">
    <button class="btn btn-small">表示順</button>
    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <!-- dropdown menu links -->
      <li><%= link_to "登録日時が新しい順", remove_sort_artists_path %></li>
      <li><%= link_to "ログイン日時が新しい順", sort_artists_path("ld") %></li>
    </ul>
  </div>
  <hr />
  <h4><i class="icon-tags"></i> タグで絞り込む</h4>
  <% tag_cloud(@tags, ["label", "label label-success", "label label-warning", "label label-important"]) do |tag, css_class| %>
    <% if params[:tags].present? && params[:tags].split("+").include?(tag.name) %>
      <span class="label label-info"><%= tag.name.html_safe %></span>
    <% else %>
      <%= link_to tag.name.html_safe, additional_tag_artists_path(tag.name), class: css_class %>
    <% end %>
  <% end %>
</div>
