<div class="row">
  <div class="span9">
    <div class="page-header">
      <h2>Listing Artists<small> アーティスト一覧</small></h2>
    </div>
    <% if @artists.present? %>
      <% @artists.each do |artist| %>
        <%= render "artist", artist: artist %>
      <% end %>
      <%= will_paginate @artists %>
    <% else %>
      <p>該当するアーティストは存在しません</p>
    <% end %>
  </div>
  <div class="span3">
    <%= render "search_conditions" %>
    <%= render "side_bar" %>
  </div>
</div>
