<ul class="unstyled">
  <li>
  <div class="fb-like" data-href="<%= url %>" data-send="false" data-layout="button_count" data-width="140" data-show-faces="true"></div>
  </li>
  <li>
  <g:plusone size="small" href="<%= url %>"></g:plusone>
  </li>
  <li>
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= url %>" data-text="<%= title %>" data-via="MuseumCreated"></a>
  </li>
</ul>
