@import 'bootstrap';
@import 'font-awesome';
@import 'select2';

body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}

@import 'bootstrap-responsive';

.alert-notice {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-alert {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.dropdown-menu li > a:hover > [class^="icon-"],
.dropdown-menu li > a:hover > [class*=" icon-"],
.dropdown-menu li > a:focus > [class^="icon-"],
.dropdown-menu li > a:focus > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.nav > .active > a > [class^="icon-"],
.nav > .active > a > [class*=" icon-"] {
  background-image: none;
}

.small_avator {
  height: 20px;
  width: 20px;
}

.form-horizontal .control-group .controls .field_with_errors > input {
  color: #b94a48;
  border-color: #b94a48;
}

.form-horizontal .control-group .controls .field_with_errors > textarea {
  color: #b94a48;
  border-color: #b94a48;
}

/*Wrokaround for twitter bootstrap & google map*/
.map_container img { max-width: none; width: auto; display:inline; }

.label-close {
  font-size: 13px;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px 0 white;
  opacity: 0.4;
  filter: alpha(opacity=20);
}

.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}
