<hr>
<footer class="footer">
<div class="container">
  <ul class="footer-links">
    <li><%= link_to "About", about_path %></li>
    <li class="muted">·</li>
    <li><%= link_to "Policy", policy_path %></li>
    <li class="muted">·</li>
    <li><%= link_to "Help", help_path %></li>
  </ul>
  <p>&copy; MuseumCreated.com 2012</p>
</div>
</footer>
<%= yield :scripts %>
